.container{
    padding: 10px;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    height: 200px;
    border-radius: 10px;
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}

.animated-box1 {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    animation-name: moveRight;
}

.animated-box2 {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    animation-name: moveRight;
    animation-duration: 2s;
}

.animated-box3 {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    animation-name: moveRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.animated-box4 {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: lightblue;
    animation-name: moveRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}