.container{
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
}

.responsive-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .media-query {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
    }
}

.cat-image {
    width: 100%;
}