.container {
  padding: 10px;
  border-style: solid;
  width: 50%;
  border-color: red;
  display: flex;
}

.wrapper {
  height: 200px;
  overflow: auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: deepskyblue;
  padding: 10px;
  font-size: 24px;
  color: white;
}

.content {
  margin-top: 25px;
  background-color: lightgrey;
  padding: 20px;
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  background-color: lightgreen;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  position: sticky;
  top: 0;
  background-color: deepskyblue;
  color: white;
}

tbody {
  min-height: 300px;
  display: block;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
