.container{
    width: 50%;
    border-style: solid;
    border-color: red;
    padding: 10px;
    min-height: 200px;
}

#background {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: lightgrey;
}

.box {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
}

.wrapper {
    min-height: 300px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.player {
    position: relative;
    width: 400px;
    height: 50px;
    background-color: #333;
    color: white;
}

.play-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.volume-control {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard {
    position: relative;
    width: 760px;
    height: 600px;
    background-color: #f0f0f0;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
}

.main-content {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: 100%;
    background-color: greenyellow;
}