.container{
    width: 50%;
    border-style: solid;
    border-color: red;
    padding: 10px;
    min-height: 200px;
}

.wrapper {
    height: 150px;
    overflow: auto;
}

.fixed-box {
    position: fixed;
    top: 130px;
    right: 753px;
    width: 250px;
    height: 100px;
    background-color: #3498db;
    color: white;
    text-align: center;
    line-height: 100px;
}

.content {
    margin-top: 60px;
    padding: 10px;
    background: linear-gradient(white, gray);
}

.fixed-header {
    position: fixed;
    top: 420px;
    left: 15px;
    width: 50%;
    height: 60px;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    line-height: 60px;
}

.fixed-sidebar {
    position: fixed;
    top: 700px;
    left: 15px;
    width: 200px;
    height: 18%;
    background-color: #34495e;
    color: white;
    padding: 20px;
}

