.container{
    width: 50%;
    border-style: solid;
    border-color: red;
    padding: 10px;
    min-height: 200px;
}

.box {
    padding: 20px;
}

.static-box {
    background-color: lightgray;
}

.relative-top {
    position: relative;
    top: 20px;
    background-color: lightblue;
}

.relative-right {
    position: relative;
    right: 20px;
    background-color: lightgreen;
}

.relative-bottom {
    position: relative;
    bottom: 20px;
    background-color: lightcoral;
}

.relative-left {
    position: relative;
    left: 20px;
    background-color: lightgoldenrodyellow;
}

#container {
    border: 2px solid #000;
    padding: 10px;
}

.relative-box {
    position: relative;
    background-color: #e74c3c;
    color: white;
    padding: 20px;
    margin: 10px;
}

.box1 {
    top: 20px;
}

.box2 {
    left: 20px;
}