.container{
    width: 50%;
    border-style: solid;
    border-color: red;
    padding: 10px;
}

.wrapper1 {
    min-height: 300px;
}

.box {
    position: absolute;
    min-width: 125px;
    min-height: 125px;
    color: white;
}

.box1a {
    z-index: 1;
    top: 200px;
    left: 50px;
    background-color: red;
}

.box2a {
    z-index: 2;
    top: 250px;
    left: 100px;
    background-color: blue;
}

.box3a {
    z-index: 0;
    top: 300px;
    left: 150px;
    background-color: green;
}

.wrapper2 {
    min-height: 500px;
}

.container1 {
    position: relative;
    z-index: 10;
    padding: 20px;
    margin-bottom: 200px;
    background-color: lightgrey;
}

.container2 {
    position: relative;
    z-index: 20;
    padding: 20px;
    background-color: lightpink;
}

.box1b {
    z-index: 1;
    top: 50px;
    left: 50px;
    background-color: red;
}

.box2b {
    z-index: 2;
    top: 100px;
    left: 100px;
    background-color: blue;
}

#negative-z-index {
    min-height: 300px;
}


.box1c {
    z-index: -1;
    top: 1350px;
    left: 100px;
    background-color: #3498db;
}

.box2c {
    z-index: 0;
    top: 1300px;
    left: 150px;
    background-color: #e74c3c;
}