.container {
    border-radius: 5px;
    border-style: dashed;
    border-color: red;
    padding: 10px;
}

.item {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 5px;
}

.inner-flex-container {
    display: inline-flex;
    border: 2px solid #000;
    padding: 10px;
}

.flex-container {
    display: flex;
    border: 2px solid #000;
    padding: 10px;
}

.item-1 {
    order: 2;
    background-color: #3498db;
    padding: 10px;
    margin: 5px;
}

.item-2 {
    order: 1;
    background-color: #2ecc71;
    padding: 10px;
    margin: 5px;
}

.item-3 {
    order: 3;
    background-color: #e74c3c;
    padding: 10px;
    margin: 5px;
}

