.container {
    border-radius: 5px;
    border-style: dashed;
    border-color: red;
    padding: 10px;
}

.flex-container {
    display: flex;
    border: 2px solid #000;
    padding: 10px;
}

.item {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 5px;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.shrink-0 {
    flex-shrink: 0;
}

.shrink-1 {
    flex-shrink: 1;
}

.basis-auto {
    flex-basis: auto;
}

.basis-100px {
    flex-basis: 100px;
}

.basis-50percent {
    flex-basis: 50%;
}

.flex-1 {
    flex: 1 1 auto;
}

.flex-2 {
    flex: 2 1 100px;
}

.flex-3 {
    flex: 1 0 50%;
}