:root {
    --main-color: #3498db;
    --secondary-color: #2ecc71;
    --font-size: 16px;
    --width: 50%;
    --border-radius: 2%;
    --padding: 10px;
}

div {
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: var(--font-size);
    width: var(--width);
    border-radius: var(--border-radius);
    padding: var(--padding);
}


.header {
    --main-color: #e74c3c;
    background-color: var(--main-color);
}

.footer {
    background-color: var(--main-color);
}