div{
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    border-style: dashed;
}

.element-before::before {
    content: "→ ";
    color: red;
}

.element-after::after {
    content: " ←";
    color: blue;
}

.format-first-letter::first-letter {
    font-size: 2em;
    color: green;
}

.format-first-line::first-line {
    color: navy;
    font-weight: bold;
}