.container{
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
}

.responsive-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.background {
    background-image: url('../assets/cat-1000.jpg');
    background-size: cover;
    background-position: center;
    height: 1300px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    color: white;
    padding: 10px;
}

@media only screen and (min-resolution: 2dppx) {
    .background {
        background-image: url('../assets/cat-500.jpg');
    }
}

@media only screen and (min-resolution: 3dppx) {
    .background {
        background-image: url('../assets/cat-1000.jpg');
    }
}