# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#Large files
projects/boutique-frontend/node_modules/@next/swc-darwin-x64/next-swc.darwin-x64.node
