.container {
    width: 50%;
    border-style: dashed;
    border-color: red;
    border-radius: 5px;
    padding: 10px;
}

.shadow-basic {
    font-size: 24px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-blur {
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.shadow-color {
    font-size: 24px;
    text-shadow: 2px 2px 2px red;
}

.shadow-multiple {
    font-size: 24px;
    text-shadow:
            2px 2px 2px rgba(0, 0, 0, 0.5),
            -2px -2px 2px rgba(0, 0, 0, 0.3);
}

.soft-shadow {
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.colorful-shadow {
    font-size: 24px;
    text-shadow: 3px 3px 5px blue;
}

.multi-shadow {
    font-size: 24px;
    text-shadow:
            2px 2px 2px rgba(0, 0, 0, 0.5),
            -2px -2px 5px rgba(255, 0, 0, 0.5);
}